@model BotWebChat.Models.ChatConfig

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>



<link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }



  body {
    margin: 0
  }

  #BotChatElement,
  #BotChatElement > * {
    height: 100%;
    width: 100%;
  }

  .css-sj2gce {
    background-color: red;
  }

  .css-1vieo9r .ac-pushButton, [data-css-1vieo9r] .ac-pushButton {
    padding: 36px !important;
  }

  .css-17vq3lb svg {
    fill: #e9741c !important;
  }

  .css-dfjva8.from-user {
    background-color: #e9741c !important;
  }
  /*.css-mfy564 {
            background-image: url('https://www.allwayshealthpartners.org/images/allways-logo.svg');
            z-index: 0;
            background-repeat:no-repeat;
            background-position:center;
        }*/
  .css-dfjva8 {
    background-color: rgba(0,1,1,0.25) !important;
    border: 1px solid #e4f3f7;
  }

  .wc-header {
    background-color: #0078d7;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    color: #ffffff;
    font-weight: 500;
    height: 30px;
    left: 0;
    letter-spacing: 0.5px;
    padding: 8px 8px 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: left;
    background: #fff;
    border: none;
    padding: 15px 20px;
    position: fixed;
    height: 45px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
  }

    .wc-header img {
      width: 135px;
    }

  .css-1lmr15n {
    border-top: 3px solid #e9741c;
    -webkit-box-shadow: -1px -5px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -5px 19px -6px rgba(0,0,0,0.75);
    box-shadow: -1px -5px 19px -6px rgba(0,0,0,0.75);
  }

  .css-1yaojre {
    margin: 0px;
  }

  .css-gtdio3 {
    background: #e4f3f7;
  }

  .content .css-dfjva8 {
    border-radius: 7px !important;
    border: none;
  }

    .content .css-dfjva8:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -40px;
      right: auto;
      top: -8px;
      bottom: auto;
      border: 32px solid;
      border-color: #666 transparent transparent
    }

  .css-sj2gce.avatar {
    background: #fff;
  }
</style>


UserID: @Model.UserId
Token: @Model.Token



<br /><br /><br /><br />

<div id="bot" />

@*<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js">
  </script>*@
<script src="https://cdn.botframework.com/botframework-webchat/master/webchat-es5.js"></script>


@*<script>

    BotChat.App({
    directLine: {
    secret: '@Model.Token'
    },
    user: { id: @Model.UserId },
    bot: { id: 'botid' },
    resize: 'detect'
    }, document.getElementById("bot"));
</script>*@

<script>
  const styleOptions1 = {
    bubbleBackground: 'rgba(0, 0, 255, .1)',
    bubbleFromUserBackground: 'rgba(0, 255, 0, .1)',
    botAvatarImage: 'Images/chat-bot.png',
    userAvatarImage: 'Images/user.jpg'
  };
  styleOptions1.textContent = {
    fontFamily: '\'Comic Sans MS\', \'Arial\', sans-serif',
    fontWeight: 'bold',
  },
    window.WebChat.renderWebChat({
      directLine: window.WebChat.createDirectLine({ secret: '@Model.Token' }),
      botAvatarInitials: 'IT Man',
      userAvatarInitials: 'WC',
      styleOptions: styleOptions1,
    }, document.getElementById('bot'));

              //  document.querySelector('#webchat > *').focus();
</script>